body {
  width: 1080px;
  background-color: #eff0f1;
  margin: 0 auto;
  padding: 0 20px;
}

/*p {
  color: #061838;
  text-decoration: none;
}*/

*{
  color: #061838;
}

a {
  color: #3e82f8;
  text-decoration: none;
}

a:hover{
  color:#10326b;
}

/*ボタンのデザイン*/
button {
  appearance: none;
  border-radius: 5px;
  background: #eff0f1;
  color: #3e82f8;
  padding: 8px 16px;
  font-size: 16px;
  border: #e5e5e6 solid 1px;
  box-shadow: 2px 2px 7px #b9bbbb, -2px -2px 7px #ffffff;
  cursor: pointer;
}

button:hover {
  background: #10326b;
  color: #eff0f1;
}

.button {
  display: block;
  margin: 10px 100px 10px auto;
}

div.button{
  margin-bottom: 20px;
}

.dropdown-toggle {
  padding: 8px 16px;
  border-radius: 5px;
  border: #e5e5e6 solid 1px;
  background-color: #eff0f1;
  color : #3e82f8;
  box-shadow: 2px 2px 7px #b9bbbb, -2px -2px 7px #ffffff;
}

.dropdown-toggle:hover, .dropdown-toggle:focus {
  background-color: #10326b;
  color: #eff0f1;
}

.dropdown-menu {
  background-color: #eff0f1;
  border-radius: 5px;
}

.dropdown-item:hover {
  color: #eff0f1;
  background-color: #3e82f8;
}




/*映像作家一覧*/
div.CreatorsLink {
  display: inline-block;
  padding: 8px 0;
  font-size: 16px;
  cursor: pointer;
}


p.CreatorsLink{
  margin: 0;
  padding-bottom: 2px;
  border-bottom: solid 1px #3e82f8;
  color: #3e82f8;
}

p.CreatorsLink:hover{
  color: #061838;
  border-color: #061838;
}

header{
  margin-bottom: 20px;
}

header::after {
  content: "";
  display: block;
  clear: both;
}

/*リストのデザイン*/
li.taglist {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  margin: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: #d7dbdf5b 1px solid;
  background: #eff0f1;
  color: #3e82f8;
  box-shadow: 2px 2px 4px #e3e4e5, -2px -2px 4px #fbfcfd;
}

a.taglist {
  color: #3e82f8;
  text-decoration: none;
}

div.taglist {
  width: 720px;
  float: left;
  border-right: #9ea6b4 solid 1px;
  padding-right: 30px;
}

div.taglistContainer{
  display: flex;

}


div.headerR {
  width: 240px;
  float: right;
  padding-left: 20px;
  padding-right: 50px;
}

ul {
  padding-left: 0;
}
