{% extends 'collection/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/creators.css' %}" type="text/css">
{% endblock header %}

{% block content %}

{% include 'collection/header.html' %}


<main class="container">
    <h2>映像作家一覧</h2>

    {% if collections %}
    <ul class="creators">
        {% for object in collections %}

        <li class="creators">
            <a href="{% url 'works' object %}">
                {{ object }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</main>

{% endblock content %}