{% extends 'collection/base.html' %}

{% block header %}
{% endblock header %}


{% block content %}

<section class="container">
    <h2 class="my-3">映像作品の削除</h2>
    <p>本当に{{ movie.title }}を削除しますか？</p>

    <div class="button">
        <form method="post" action="{% url 'delete' movie.pk %}">{% csrf_token %}
            <button class="btn btn-danger neumo-shadow" type="submit">削除</button>
        </form>
    </div>
    <div class="button">
        <a href="{% url 'detail' movie.pk %}">
            <button class="button">戻る</button>
        </a>
    </div>
</section>
{% endblock content %}