{% extends 'collection/base.html' %}

{% block header %}
{% endblock header %}

{% block content %}
<a href="{% url 'add' %}">
    <button>追加</button>
</a>


{% if taglist %}
<p>タグ一覧</p>
<ul>
    <li class="taglist">
        <a class="taglist" href={% url 'index' %}>
          全て
        </a>
    </li>
    {% for tag in taglist %}
    <li class="taglist">
        <a class="taglist" href={% url 'list' tag.name %}>
            {{ tag.name }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}


<h1>{{ movie.title }}</h1>

{{ movie.link|safe }}

<h2>CREATOR: {{ movie.creator }}</h2>

<p>{{ movie.discription|linebreaksbr|urlize }}</p>

<a href="{% url 'edit' movie.pk %}">
  <button>編集</button>
</a>
<form method="post" action="{% url 'delete' movie.pk %}">{% csrf_token %}
  <button class="" type="submit" >削除</button>
</form>

<a href="{% url 'index' %}">
  一覧へ
</a>

{% endblock content %}