{% extends 'collection/base.html' %}

{% block header %}
{% endblock header %}

{% block content %}


{% include 'collection/header.html' %}


<h1>{{ movie.title }}</h1>

{{ movie.link|safe }}

<h5>CREATOR: {{ movie.creator }}</h5>

<p>{{ movie.discription|linebreaksbr|urlize }}</p>

<p>{{ movie.add_by }} が追加</p>

<p>タグ：
    {% for tag in tags %}
    {{ tag }}|
    {% endfor %}

</p>


<div class="button">
    <a href="{% url 'edit' movie.pk %}">
        <button>編集</button>
    </a>
</div>
<div class="button">
    <a href="{% url 'delete_conf' movie.pk %}">
        <button class="" type="submit">削除</button>
    </a>
</div>

<a href="{% url 'index' %}">
    <p>TOPへ</p>
</a>

{% endblock content %}