<header class="header container">
    <h1 class="my-5">
        <a class="text-dark text-decoration-none" href="{% url 'index' %}">
            Movie Collection
        </a>
    </h1>

    <nav>
        <div class="row m-3 align-items-center">
            <section class=" col-sm-auto my-3">
                {% if taglist %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle neumo-shadow" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        タグ検索
                    </button>
                    <ul class="dropdown-menu">
                        {% for tag in taglist %}
                        <li><a class="dropdown-item" href={% url "taglist" tag.name %}>{{tag.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                <a href="{% url 'creators' %}">
                    <div class="CreatorsLink my-2">
                        <p class="CreatorsLink">映像作家一覧</p>
                    </div>
                </a>
            </section>

            <section class="col-sm-auto m-3">
                <div class="button">
                    <a href="{% url 'add' %}">
                        <button class="button">追加</button>
                    </a>
                </div>

                {% if user.is_authenticated %}
                <p>{{ user.get_username }}でログイン中</p>
                {% else %}
                <p>ログインしていません</p>
                {% endif %}
            </section>
        </div>
    </nav>
</header>