{% extends 'collection/base.html' %}

{% block header %}
{% endblock header %}

{% block content %}

<a href="{% url 'add' %}">
    <button>追加</button>
</a>


{% if taglist %}
<ul>
    <li>
        <a href={% url 'index' %}>
            全て
        </a>
    </li>
    {% for tag in taglist %}
    <li>
        <a href={% url 'list' tag.name %}>
            {{ tag.name }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if tagname %}
<h4>{{ tagname }}</h4>
{% endif %}

{% if movie_list %}
<div class="MovieList">
    {% for movie in movie_list %}
    <div class="MovieCard">
        {{ movie.link|safe }}

        <a href={% url 'detail' movie.id %}>
            <p>{{ movie.title }}</p>
        </a>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No movies are available.</p>
{% endif %}

{% endblock content %}