li.creators{
    list-style: none;
}

ul.creators{
    column-count: 3;
    column-gap: 20px;
}

ul.creators li.creators {
  width: 100%;            /* 幅を100%にする */
  margin: 0 0 30px;       /* 下方向に20pxの余白 */
  box-sizing: border-box; /* 線幅やpaddingも含めて幅100%にするため */
  display: inline-block;  /* インラインブロック要素にする */
}